<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>SEX <input type = "text" name = "sex" /></p>
         <p>AGE <input type = "text" name = "age" /></p>
         <p>TC <input type = "text" name = "tc" /></p>
         <p>HDL <input type ="text" name = "hdl" /></p>
		 <p>SBP <input type ="text" name = "sbp" /></p>
		 <p>SMOKE <input type ="text" name = "smoke" /></p>
		 <p>MED <input type ="text" name = "med" /></p>
		 <p>DIA <input type ="text" name = "dia" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>